@elabcom rc file Version 1.0
[oh]
invokeDir = /home/sxdla/sxdla_top/sim
hostCommand = -lib simv.daidir/work -saveLevel -elab simv.daidir/kdb -simflow -simdir simv.daidir/kdb_libs -top "gpu_bus_matrix_fifo_s DW_axi_gs_tl axi_sram tb" -Lf work +disable_message+C00380+C00381 +disable_message+C00388+C00389 -SNPS_ELABCOM -saveElab
simType = VCS
